html,
body {
    height: 100%;
    overflow: hidden;
    font-family: Noteworthy-Bold,sans-serif;
    font-size:10vmax;
}

table td {
    padding: 0px !important;
}

@keyframes k1 {
    0%,
    100% {
        background-color: #eee;
    }

    50% {
        background-color: #0aa;
    }
}
@keyframes k2 {
    0%,
    100% {
        background-color: white;
    }

    50% {
        background-color: #0aa;
    }
}
@keyframes k3 {
    0%,
    100% {
        background-color: transparent;
    }

    50% {
        background-color: #f36;
    }
}

.even {
    background-color: white;
}

.odd {
    background-color: #eee;
}


.anim1 {
    animation: k1 0.5s ease 1 normal;
}
.anim2 {
    animation: k2 0.5s ease 1 normal;
}
.animError {
    animation: k3 0.5s ease 1 normal;
}
